<h1>Landings#index</h1>
<p>Find me in app/views/landings/index.html.erb</p>

<%= @crawler.bmat_num_columns %>
</br>
<%= 
@crawler.bmat_team_data.each do |key, value| end
%>
</br>
</br>
<% virginia = KenpomTeam.find("virginia") %>
<%= virginia.rank %>

<% BmatrixTeam.column_names.each do |name| %>

<%= name %>

<% end %> 