<h1>Landings#index</h1>
<p>Find me in app/views/landings/index.html.erb</p>

<%=

 @crawler.column_names.each do |key, value|
			puts #{key} + ' : ' + #{value}
		end

%>
</br>
</br>
</br>
		<%=
#
 @crawler.team_data.each do |key, value|
			puts #{key} + ' : ' + #{value}
		end

%>