<div class="welcome-container">
    <div class="welcome-image" style="background-image: url(<%= asset_path 'basketball.jpeg' %>)">
    <div class="welcome-image-overlay"></div>
    
    </div>
    <div class="tagline">
    <h2 class="text-center" style="font-size:2em;">
        We replace
        <i>confusion</i>
        with
        <span style="text-decoration:underline;">confidence</span><br/>
        when picking your bracket.
    </h2>
    <h3>Get a hold of your bracket.</h3>
    
    <div class="welcome-nav">
      <a href="<%= bracket_path %>" class="button">Latest Bracket</a>
      <a href="<%= archive_path %>" class="button">Archive</a>
    </div>
  </div>
</div>