<% tournament_year = "2016" %>

<% tournament = Tournament.find_by year: tournament_year%>
<h1><%= tournament.name %></h1>

<% generate_guess_bracket %>
<div class="bracketspacecontainer">
	<div class= "bracketspace">
		<div class="jQBracket lr">
			<div class="bracket" style="height: <%= 8 * 64 %>">
					<% Round.where.not(number: 0).order(:number).each do |round| %>
						<% games = BracketGame.where(round_id: round.id).order(:region_id, :weight) %>
						<%= create_bracket_round(games.to_json)%>
					<% end %>
			</div><!-- end bracket -->
		</div><!-- end jq bracket -->
	</div><!-- end bracketspace -->
</div><!-- end bracketspacecontainer-->


<script>
	
	$("div.team").hover(function(){
		id = $(this).data("teamid")
		$(this).addClass("highlight")
		$("div.team[data-teamid=" + id+"]").addClass("highlight")
		$("div.team.win[data-teamid=" + id+"]").addClass("highlight").closest(".teamContainer").children(".connector").addClass("highlight").children(".connector").addClass("highlight")
		
	},function(){
		
		$(this).removeClass("highlight")
		$("div.team[data-teamid=" + id+"]").removeClass("highlight")
		$("div.team.win[data-teamid=" + id+"]").removeClass("highlight").closest(".teamContainer").children(".connector").removeClass("highlight").children(".connector").removeClass("highlight")
	})
	
</script>
