
@import "bootstrap_configuration";
$container-size: 150px;
$bracket-width: 1160px;
$bracket-size: 100%;
$font-size: 1.2;

.bracketspacecontainer{
  width:100%;
  height:100%;
  overflow-x:scroll;
  overflow-y:hidden;
  position:relative;
  .bracketspace{
    width:$bracket-width;
    .jQBracket{
      float:left;
      
      .bracket{
        float:left !important;
        clear:right!important;
        padding-left:20px;
        .region{
        }
        .round{
          width: $container-size !important;
          .teamContainer{
            
            .connector{
              border-color:#ccc;
              &.highlight{
                border-color:#3c0!important;
              }
            }
            .team{
              &.highlight{
                background:#3c0!important;
              }
              width:$container-size !important;
              font-size: $font-size+em;
              background-color: #fff;
              .label {
                position:absolute;
                top:25%;
                width: ($container-size - 20);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &.win .label{
                color: $text-color !important;
              }
              &.lose .label{
                color: lighten($text-color, 30%) !important;
              }
              
              &.false{
                background: #ff6666!important;
              }
            }
          }
        }
      }
    }
  }
}

  
